# 检验模型和人工预测

In [1]:
import sys
sys.path.append("/Users/coffee/Documents/code/QkidsAutomation")
from teacher_predict.DataFarm import DataFarm
from teacher_predict.DeepNeuralNetworks import DeepNeuralNetworks
import tensorflow as tf
import matplotlib.pyplot as plt

In [2]:
data = DataFarm()
a = data.run()

In [3]:
a

chapter                         1      2      3      4      5      6      7    \
begin               roomtype
2020-05-24 20:30:00 7           0.0    0.0    1.0    1.0    0.0    2.0    0.0
                    5           5.0    6.0   12.0   14.0    9.0   10.0    9.0
                    2         164.0  154.0  140.0  160.0  138.0  142.0  188.0
2020-05-24 19:50:00 7           0.0    0.0    0.0    0.0    1.0    0.0    3.0
                    5           7.0   10.0   14.0   12.0   11.0   21.0   16.0
...                             ...    ...    ...    ...    ...    ...    ...
2018-01-01 19:50:00 1         129.0   73.0   50.0   96.0   59.0   79.0   94.0
2018-01-01 19:10:00 2          62.0   29.0   17.0   48.0   27.0   11.0   69.0
                    1         154.0   64.0   58.0  115.0   65.0   58.0  118.0
2018-01-01 18:30:00 2          33.0   27.0    9.0   35.0    8.0   14.0   28.0
                    1          97.0   66.0   43.0   61.0   34.0   44.0   60.0

chapter                         8      9      10   ...  274  275  276  278  \
begin               roomtype                       ...
2020-05-24 20:30:00 7           1.0    2.0    2.0  ...  0.0  0.0  0.0  0.0
                    5          11.0   18.0   14.0  ...  0.0  0.0  0.0  0.0
                    2         173.0  132.0  133.0  ...  0.0  0.0  0.0  0.0
2020-05-24 19:50:00 7           0.0    0.0    0.0  ...  0.0  0.0  0.0  0.0
                    5          15.0   15.0   20.0  ...  0.0  0.0  0.0  0.0
...                             ...    ...    ...  ...  ...  ...  ...  ...
2018-01-01 19:50:00 1          78.0   64.0   55.0  ...  0.0  0.0  0.0  0.0
2018-01-01 19:10:00 2          18.0   19.0   22.0  ...  0.0  0.0  0.0  0.0
                    1          47.0   56.0   54.0  ...  0.0  0.0  0.0  0.0
2018-01-01 18:30:00 2          25.0   16.0    9.0  ...  0.0  0.0  0.0  0.0
                    1          48.0   56.0   45.0  ...  0.0  0.0  0.0  0.0

chapter                       279  280  307  313  323  325
begin               roomtype
2020-05-24 20:30:00 7         0.0  0.0  1.0  0.0  0.0  0.0
                    5         0.0  0.0  0.0  0.0  0.0  0.0
                    2         0.0  0.0  4.0  0.0  3.0  0.0
2020-05-24 19:50:00 7         0.0  0.0  0.0  0.0  0.0  0.0
                    5         0.0  0.0  0.0  0.0  0.0  0.0
...                           ...  ...  ...  ...  ...  ...
2018-01-01 19:50:00 1         0.0  0.0  0.0  0.0  0.0  0.0
2018-01-01 19:10:00 2         0.0  0.0  0.0  0.0  0.0  0.0
                    1         0.0  0.0  0.0  0.0  0.0  0.0
2018-01-01 18:30:00 2         0.0  0.0  0.0  0.0  0.0  0.0
                    1         0.0  0.0  0.0  0.0  0.0  0.0

[16593 rows x 147 columns]

In [4]:
dnn = DeepNeuralNetworks()
dnn.preprocess()

/Users/coffee/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/coffee/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [23]:
dnn.historical

,student_count,teacher_count,day,time,slot
begin,,,,,
2018-01-01 18:30:00,1173.0,242.0,2018-01-01,18:30:00,2018-01-01 18:30:00
2018-01-01 19:10:00,1573.0,319.0,2018-01-01,19:10:00,2018-01-01 19:10:00
2018-01-01 19:50:00,1706.0,348.0,2018-01-01,19:50:00,2018-01-01 19:50:00
2018-01-01 20:30:00,1322.0,268.0,2018-01-01,20:30:00,2018-01-01 20:30:00
2018-01-02 18:30:00,1560.0,312.0,2018-01-02,18:30:00,2018-01-02 18:30:00
...,...,...,...,...,...
2020-05-24 17:50:00,1065.0,284.0,2020-05-24,17:50:00,2020-05-24 17:50:00
2020-05-24 18:30:00,2769.0,728.0,2020-05-24,18:30:00,2020-05-24 18:30:00
2020-05-24 19:10:00,4414.0,1283.0,2020-05-24,19:10:00,2020-05-24 19:10:00
2020-05-24 19:50:00,5188.0,1485.0,2020-05-24,19:50:00,2020-05-24 19:50:00
2020-05-24 20:30:00,4857.0,1400.0,2020-05-24,20:30:00,2020-05-24 20:30:00

In [5]:
split_day = "2020-05-18 00:00:00"

In [14]:
from teacher_predict.jeff import w_202021

In [15]:
week_data = dnn.historical.loc[split_day:].copy()

In [16]:
week_data['jeff'] = w_202021()

In [17]:
model = tf.keras.models.load_model('schedule.h5.202021')

In [18]:
predict = dnn.predict(week_data.index, model)

In [19]:
week_data['predict'] = predict['teacher']

In [20]:
week_data

,student_count,teacher_count,day,time,slot,jeff,predict
begin,,,,,,,
2020-05-18 08:30:00,918.0,288.0,2020-05-18,08:30:00,2020-05-18 08:30:00,349,436.028717
2020-05-18 09:10:00,1360.0,399.0,2020-05-18,09:10:00,2020-05-18 09:10:00,446,511.462860
2020-05-18 09:50:00,1466.0,413.0,2020-05-18,09:50:00,2020-05-18 09:50:00,456,496.833344
2020-05-18 10:30:00,1388.0,389.0,2020-05-18,10:30:00,2020-05-18 10:30:00,422,437.416962
2020-05-18 11:10:00,1444.0,402.0,2020-05-18,11:10:00,2020-05-18 11:10:00,358,381.024017
...,...,...,...,...,...,...,...
2020-05-24 17:50:00,1065.0,284.0,2020-05-24,17:50:00,2020-05-24 17:50:00,263,383.818573
2020-05-24 18:30:00,2769.0,728.0,2020-05-24,18:30:00,2020-05-24 18:30:00,667,766.488037
2020-05-24 19:10:00,4414.0,1283.0,2020-05-24,19:10:00,2020-05-24 19:10:00,1109,1164.946167
2020-05-24 19:50:00,5188.0,1485.0,2020-05-24,19:50:00,2020-05-24 19:50:00,1332,1262.514526
2020-05-24 20:30:00,4857.0,1400.0,2020-05-24,20:30:00,2020-05-24 20:30:00,1177,1120.009766

In [21]:
week_data[['predict', 'teacher_count', 'jeff']].to_pickle('202021.pkl')